<h1 class="title">Purchases</h1>
<div class='purchase-index line-spacing-top'>
  <div class='purchase-header'>
    <h3 class="title is-4">Last x purchases</h3>
    <%= render 'buttons' %>
  </div>
  <% if @purchases&.any? %>
    <table class="table is-bordered is-striped is-hidden-mobile">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Payee</th>
          <th>Category</th>
          <th>Purchaser</th>
          <th>Purchasee</th>
        </tr>
      </thead>
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><%= purchase.date.to_s %></td>
            <td><%= purchase.description %></td>
            <td><%= number_to_currency(purchase.amount) %></td>
            <td><%= purchase.payee %></td>
            <td><%= purchase.subcategory.name %></td>
            <td><%= purchase.purchaser.name %></td>
            <td><%= purchase.purchaser.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <!-- write custom div class with flex -->
  <div class="level is-hidden-tablet">
    <% if @purchases %>
      <% @purchases.each do |purchase| %>
        <div class="mobile-table-equiv">
          <div class="mobile-table-equiv-element has-text-weight-bold">
            <div>
              <%= purchase.description %>
            </div>
            <div>
              <%= number_to_currency(purchase.amount) %>
            </div>
          </div>
          <div class="mobile-table-equiv-element">
            <div>
              <%= purchase.payee %>
            </div>
            <div>
              <%= purchase.date.to_s %>
            </div>
          </div>
          <div class="mobile-table-equiv-element">
            <div>
              <%= purchase.purchaser.name %>
            </div>
            <div>
              <%= purchase.subcategory.name %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
