<h1 class="title">Categories</h1>
<%= render 'form' %>
<% if @categories %>
  <div class="line-spacing">
    <% @categories.each_with_index do |category, idx| %>
      <h2 class="subtitle">
        <%= category.name %>
        <% if category.subcategories.any? %>
          <i class="fas fa-times has-text-grey-light icon-padding" title="Delete all subcategories to allow deletion of this category"></i>
        <% else %>
          <%= link_to category_path(category), method: :delete, data: { confirm: "Are you sure? #{category.name} will be deleted." }, title: "Delete category" do %>
            <i class="fas fa-times has-text-dark icon-padding"></i>
          <% end %>
        <% end %>
      </h2>
      <%= content_tag :div, class: 'buttons', id: "category_#{idx + 1}" do %>
        <% category.subcategories.each do |s|%>
          <span class="button is-rounded"><%= s.name %>
            <%= link_to category_subcategory_path(category, s), method: :delete, data: { confirm: "Are you sure? #{s.name} will be removed as a subcategory from the purchases currently using it." }, title: "Delete subcategory" do %>
              <i class="fas fa-times has-text-dark icon-padding"></i>
            <% end %>
          </span>
        <% end %>
        <% @category = category %>
        <%= render 'subcategory-form' %>
      <% end %>
    <% end %>
  </div>
<% end %>
